html body {
    margin: 0;
    padding: 0;
}

html {
    min-width: 1000px;
}

* {
    box-sizing: border-box;
}

/*Flex布局 垂直居中 水平居中*/
.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Flex布局 垂直居中*/
.centered-vertical {
    display: flex;
    align-items: center;
}

// normal theme
$head_background: #15a2e9;
$status_background: #40adf2;
$home_left_background: #ddefff;
$home_left_list_background: #effaff;

// 用于分割的下边框样式
$border-divider: 2px solid #43ace5;
// 通用部分div的高度
$ghead-height: 100px;
$gnavigate-height: 61px;
$gstatus-height: 40px;
$gmain-height: calc(
    100vh - #{$ghead-height} - #{$gnavigate-height} - #{$gstatus-height}
);
// 侧边栏背景颜色
$aside-background-color: #ddefff;
$gaside-width: 250px;
